apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  namespace: bankapp
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 9411
      protocol: TCP
      name: http
  selector:
    app: {{ .Release.Name }}
