apiVersion: apps/v1
kind: Deployment
metadata:
  name: eureka
  namespace: bankapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eureka
  template:
    metadata:
      labels:
        app: eureka
    spec:
      containers:
        - name: eureka
          image: bankapp-eureka:local
          ports:
            - containerPort: 8761
