replicaCount: 1

image:
  repository: grafana/grafana
  tag: "10.3.1"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

adminUser: admin
adminPassword: admin

resources:
  requests:
    memory: "512Mi"
    cpu: "250m"
  limits:
    memory: "1Gi"
    cpu: "500m"
