replicaCount: 1

image:
  repository: elasticsearch
  tag: "9.2.1"
  pullPolicy: IfNotPresent

resources:
  requests:
    memory: "2Gi"
    cpu: "500m"
  limits:
    memory: "2Gi"
    cpu: "1"

persistence:
  enabled: false
  size: 1Gi
  storageClass: ""

service:
  type: ClusterIP
  port: 9200
  transportPort: 9300

env:
  discoveryType: "single-node"
  networkHost: "0.0.0.0"
  ES_JAVA_OPTS: "-Xms1g -Xmx1g"
security:
  enabled: true
  password: "1"