apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server
  namespace: bankapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-server
  template:
    metadata:
      labels:
        app: config-server
    spec:
      containers:
        - name: config-server
          image: bankapp-config-server:local
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "local"
          ports:
            - containerPort: 8888
