groups:
  - name: microservices-alerts
    rules:
      - alert: ExchangeRateStale
        expr: exchange_last_update_seconds > 10
        for: 30s
        labels:
          severity: critical
        annotations:
          summary: "Курс валют не обновлялся больше 10 секунд"

      - alert: HighFailedLogins
        expr: rate(auth_login_total{status="fail"}[1m]) > 5
        for: 1m
        labels:
          severity: warning
        annotations:
          summary: "Слишком много неуспешных логинов"
