apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: {{ .Release.Namespace }}
spec:
  ports:
    - port: {{ .Values.kafka.servicePort }}
      name: client
  clusterIP: None
  selector:
    app: kafka
