apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: {{ .Values.namespace }}
spec:
  clusterIP: None
  selector:
    app: kafka
  ports:
    - name: client
      port: {{ .Values.kafka.servicePort }}
    - name: controller
      port: 9093
